<div class="container-fluid mb-3 d-flex justify-content-end pe-5 border-top border-warning">
    <a href="/admin/add_product" class="p-2 text-warning px-3 mt-5"
        style="border: solid gold 2px;text-decoration: none;">Add products</a>
</div>



<div class="container-fluid d-flex justify-content-center">
    <div class="row justify-content-center d-flex container">
    <a href="/admin/product_list/shoes " class="col-xl-3 col-md-4 col-sm-6 my-1 px-1 p-0" style="text-decoration: none;">
        <div class=" border container-fluid border-dark" style="height: 40vh; background-image: url(https://images.pexels.com/photos/2562992/pexels-photo-2562992.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: ;
    {{!-- background-repeat: no-repeat; --}}
     ">
            <h2 class="text-light ms-2" style="">S H O E S</h2>
       </div>
    </a>
    <a href="/admin/product_list/watches" class="col-xl-3 col-md-4 col-sm-6 my-1 px-1 p-0 " style="text-decoration: none;">
        <div class=" border container-fluid border-dark" style="height: 40vh; background-image: url(https://images.pexels.com/photos/277390/pexels-photo-277390.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    {{!-- background-repeat: no-repeat; --}}
    background-position: 0 ;">
            <h2 class="text-light ms-2" style="">W A T C H E S</h2>

       </div>
    </a>
    <a href="/admin/product_list/eyewear" class="col-xl-3 col-md-4 col-sm-6 my-1 px-1 p-0" style="text-decoration: none;">
        <div class=" border container-fluid border-dark" style="height: 40vh; background-image: url(https://images.pexels.com/photos/704241/pexels-photo-704241.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    
    {{!-- background-repeat: no-repeat; --}}
    background-position: 0;">
            <h2 class="text-light ms-2" style="">E Y E W E A R</h2>

       </div>
    </a>
    <a href="/admin/product_list/perfumes" class="col-xl-3 col-md-4 col-sm-6 my-1 px-1 p-0" style="text-decoration: none;">
        <div class=" border container-fluid border-dark" style="height: 40vh; background-image: url(https://images.pexels.com/photos/1557980/pexels-photo-1557980.jpeg?auto=compress&cs=tinysrgb&w=1600);
    background-size: cover;
    {{!-- background-repeat: no-repeat; --}}
    background-position: 0 ;">
            <h2 class="text-light ms-2" style="">P E R F U M E S</h2>

        </div>
    </a>
</div>
</div>
<div class="container d-flex justify-content-center">
    <div class="row container ">
    <a href="/admin/product_list/Suits" style="text-decoration: none;">
        <div class="col-xl-12 col-md-12 col-sm-12 container-fluid border-dark" style="height: 40vh;background-image: url(https://images.pexels.com/photos/10319360/pexels-photo-10319360.jpeg?auto=compress&cs=tinysrgb&w=1600);
    background-size: cover;
    {{!-- background-repeat: no-repeat; --}}
    background-position: 0 -400px;
    
    ">
            <h2 class="text-light ms-2" style="">S U I T S</h2>

        </div>
    </a>
</div>
</div>
