<form action="/users/changepassword" method="post">
    <div class="row mt-5 pt-5">
        <div class="col-12 text-center justify-content-center">
            <label for="" class="mb-4 text-warning">Enter Your New Password</label><br>
            <input type="text " class="text-warning" name="password" minlength="6" maxlength="6"
                style="background: none ; border: solid gold 2px;"><br>
            <input type="submit" class="btn btn-warning mt-3" name="" id="">
        </div>
    </div>
</form>